<%- contentFor('body') %>
<div class="headerSection">
          <div class="container">
              <div class="Word"><a href="browse"> Browse by words</a></div>
             <div class="logo">
                 <img src="/logo.png">
              </div>
              <div class="searchBar">
                <input id="searchWord" type="text" placeholder="Type a word or a phrase to search">
                <button class="btn search-submit" type="button" onclick="search()"><span>Search</span></button>
                <p class="TopSearch">Top Search..</p>	              
                </div>
              <div class="TopSearchTitle">
					<ul>
						<li><a href="#">1. Fogged </a></li>
						<li><a href="#">2. Dragon Fruit</a></li>
						<li><a href="#">3. Paralympics</a></li>
						<li><a href="#">4. Self-Obsessed</a></li>
						<li><a href="#">5. Thanks A Lot</a></li>
						<li><a href="#">6. Raw-Milk</a></li>
						<li><a href="#">7. Kaizen</a></li>
						<li><a href="#">8. Submissive</a></li>
					</ul>
				</div>
          </div>
</div>