<%- contentFor('body') %>
<div class="headerSection">
          <div class="container">
              <div class="Word"><a href="browse"> Browse by words</a></div>
              <div class="searchBar">
                <input id="searchWord" type="text" placeholder="Type a word or a phrase to search">
                <button class="btn search-submit" type="button" onclick="search()"><span>Search</span></button>
                <p class="TopSearch">Top Search..</p>
              </div>
          </div>
</div>