<!DOCTYPE html>
<html lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <!-- build:remove -->
    <%- include inlineCSS %>
    <!-- /build -->
    <!-- build:include inlineCSS.ejs -->
    <!-- /build -->
    <title><%= param.title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/favicon.ico" type="image/gif" sizes="32x32">
    <script src="/js/main.js"></script>
</head>
<body>
    <%- body %>
</div>
</body>
</html>